<#-- @ftlvariable name="filtro" type="br.com.ecge.autorizador.aplicacao.UsuarioFiltro" -->
<#assign scriptContent>
<script>
    $(function() {
    });
</script>
</#assign>

<#assign breadcrumb>
<i class="fa fa-lock"></i> Autorizador ECGE
</#assign>

<@layout.portal script=scriptContent titulo="Home" breadcrumb=breadcrumb>

<h3>Escolha uma opção no menu ao lado</h3>

</@layout.portal>