.brand-logo small {
    font-size:11px;
    font-weight: normal;
}

.pagination>li>a {
    float:initial;
}

.dataTables_length select {
    width: 100%;
}


table.dataTable {
    width: 100% !important;
}

.busca-indice {
    margin-top: -27px;
}

.footer-item-filtro {
    margin-top: 50px;
}

.footer-item-filtro p{
    text-align: center;
    color:grey;
}

.e404 {
    font-size: 300px;
    color: #777;
}

.loading-grande {
    margin: 375px 50%;
    display: inline-block;
}
.loading {
    margin: 140px 50%;
    display: inline-block;
}

.botao__gera_paginacao_completa {
    width: 25%;
    display: inline-block;
}
.box-paginacao {
    margin-top:10px;
}

.tooltip{
    z-index: 1151 !important;
}

.table-responsive {
    padding: 10px 0;
    border:none;
}

#toast-container>div {
    opacity:1;
    width: 400px;
}

.toast-top-center {
    top:62px;
}

.botao-acoes {
    margin-right: 5px;
}

.campo-form {
    font-size: 15px;
    color: #404143;
    border: none;
    box-shadow: none;
    padding: 0;
    height: auto;
}

.campo-texto-quebra {
    white-space:pre-wrap;
    word-break: keep-all;
}

.tipo-interacao-tarefa {
    display: inline-block;
    padding: 7px 5px;
    margin: 5px 0;
    font-weight: 600;
    font-size: 90%;
}

.interacoes {
    margin: 0 0 15px 0;
}

.caixa-interacao {
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .125);
    min-height: 80px;
    color: #6d6e70;
}

.dados-interacao {
    margin-top: 4px;
    color: #6d6e70;
}

.lista-valores-campo {
    padding-left: 20px;
}

.link-sem-formatacao a {
    color: #000000;
    text-decoration: none;
}

.link-nota a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: underline;
}

table.hide-headers thead {
    display:none;
}

.dataTables_info {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 3px;
    font-weight: 700;
    font-size: .97em;
    color: #2369b3;
    line-height: 1.1;
    text-transform: uppercase;
    display: block;
}

.detalhes-label { font-weight: bold; color:#404143;}

.texto-label {
    margin-right: 10px;
}

.label-assunto, .label-id, .label-situacao { font-size:12px;}

.label-assunto { background: #5cb85c;}
.label-id { background: #f0ad4e;}
.label-situacao { background: #777;}
.label-comentario { background:#edf1f1; color:#666b79; }

.label-papel-tarefa {
    display:block;
    margin-bottom: 3px;
    text-align: left;
    white-space: normal;
}

.label-sm {
    font-size: 10px;
}

.label-md {
    font-size: 13px;
}

.label-lg {
    font-size: 15px;
}

.favorito {
    color: #b38e23;
}

.favorito:hover {
    cursor: pointer;
}

.equal-height {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.multiselect-container .active label {
    color: #fff !important;
}
.multiselect.dropdown-toggle {
    border: 1px solid #dde6e9;
}

.dropdown-menu li {
    padding: 5px 0;
}

.popover {
    max-width: 500px;
    width: 500px;
}

.confirmation-buttons .btn-group a:first-child {
    margin-right: 5px;
}

.box-interna {
    margin: 35px 5px 30px 5px;
}

.botoes-flutuantes {
    position:fixed;
    bottom:20px;
    right:20px;
    z-index: 99999;
}

.offsidebar-open .botoes-flutuantes {
    right:390px;
}


.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.elementos-tree ul{ list-style: none; }
.elementos-tree > ul{ padding-left:0; }
.elementos-tree ul li>i { float:left;margin-top: 10px;margin-left: -10px;margin-right: 10px; }
.elementos-tree>ul>li>i { display:none;}

#carregando {
    position: absolute;
    left: 50%;
    top: 20%;
    z-index:99999;
    width: 350px;
}

#carregando > div {
    position: relative;
    left: -50%;
    top:-20%;
    background:white;
    -webkit-box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15), 0 27px 55px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15), 0 27px 55px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px 0;
}

.dt-center {text-align: center;}
.dt-right {text-align: right;}
.dt-left {text-align: left;}

.btn-autocomplete-criar {
    margin-bottom: 10px;
}

.autocomplete-criar {
    clear: right;
}

.checkbox {
    margin-top: 25px;
}

.ul-objetosAuditoria {
    list-style: none;
    padding-left:0;
}

.edicao-entidade {
    float: none !important;
    margin-left: 15px !important;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #f05050;
}

[data-toggle="collapse"] {
    cursor: pointer;
}

.panel-heading[aria-expanded=false] [data-tool*=collapse] .fa-minus{ display:none;}
.panel-heading[aria-expanded=true] [data-tool*=collapse] .fa-plus{ display:none;}

.btn-exportar  {
    background-color: #7266ba;
    color: #fff;
}

.btn-exportar:hover, .btn-exportar:focus, .btn-exportar:active  {
    color: #fff;
}

.btn-copiar  {
    background-color: #7266ba;
    color: #fff;
}

.btn-copiar:hover, .btn-copiar:focus, .btn-copiar:active  {
    background-color: #5e4dc6;
    color: #fff;
}

.itens-filtro {
    display: inline-block;
    vertical-align: baseline;
    border: 1px solid  #23b7e5;
    border-radius: .25em;
    padding: 0.2em 0.2em 0.3em 0.3em;
    margin: 0.3em;
    font-weight: bold;
}

.painel-filtros {
    margin-top: -15px;
    margin-bottom: 5px;
}

.space-between-labels {
    margin-right: -2px;
    margin-left: 4px;
    white-space: pre-wrap;
    line-height: 1.7;
}

.space-between-buttons {
    margin-top: 4px;
    margin-bottom: 4px;
}

#formFiltros .panel-default>.panel-heading { background-color: #edf1f2; }

#sortable .panel-heading {
    cursor:move;
}

#painel-grafico a[data-tool] {
    color: #c1c2c3;
}

#notificacoes_wrapper .label {
    line-height: 2;
}

.large.tooltip-inner {
    text-align: left;
    max-width: 500px;
}

.tipoCompetencias {
    font-weight: bold;
    font-size: 14px;
}

.informacao-label {
    color: #f05050;
}

.autocomplete-footer .form-group{
   width: 100%;
}

.eaudNetworkControles {
    right: 40px;
    position: absolute;
    z-index: 100;
    text-align: right;
}

.text-msg-block {
    text-align: center;
}

.progress {
    height: 35px;
}

.progress-bar {
    display: grid;
    align-items: center;
}

.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}